<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L] 

#    RewriteEngine On
#    RewriteBase /var/www/html/workablezone/
#
#   RewriteCond %{THE_REQUEST} \s/+(.*?)/{2,}([^\s]*)
#    RewriteRule ^ %1/%2 [R=302,L,NE]

#    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(.+?)/{2,}[?\s] [NC]
#    RewriteRule ^ /%1/ [L,R=301]


     RewriteCond %{REQUEST_URI} system|application
     RewriteRule ^(.*)$ index.php?/$1 [L]

#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule ^(.*)$ index.php?/$1 [L]

#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule ^(.*)$ index.php/$1 [L]
#    RewriteRule ^(.*)$ index?/$1 [L]
</IfModule>
<IfModule mod_php7.c>
php_value upload_max_filesize 200M
php_value max_execution_time 120
php_value max_input_time -1
php_value max_input_vars 10000
php_value memory_limit 256M
php_value post_max_size 256M
</IfModule>